---
layout: default
title: Accueil
---

<h1>Trombinoscope des urgences de Saint Nazaire</h1>

<!-- Champ de recherche -->
<input type="text" id="searchInput" placeholder="Rechercher par prénom...">

<!-- Liste des profils -->
{% assign combined1 = site.infirmiers | default: empty | concat: site.medecins | default: empty %}
{% assign combined2 = combined1 | concat: site.aides-soignants | default: empty %}
{% assign combined3 = combined2 | concat: site.secretaires | default: empty %}
{% assign combined4 = combined3 | concat: site.brancardiers | default: empty %}
{% assign combined5 = combined4 | concat: site.cadres | default: empty %}
{% assign all = combined5 | concat: site.anciens | default: empty %}

<div id="profilesContainer">
  {% for profil in all %}
    <div class="profile-card {% if profil.collection == 'anciens' %}ancien{% endif %}" 
         data-prenom="{{ profil.prenom | downcase }}">
      <a href="{{ profil.url }}">
        <img src="{{ profil.photo }}" alt="{{ profil.title }}">
        <p class="profil-name">{{ profil.title }}</p>
      </a>
    </div>
  {% endfor %}
</div>


<script src="{{ '/assets/js/trombinoscope.js' | relative_url }}"></script>

