<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
  
<body>

  <!-- NAVIGATION -->
  <header class="navbar">
    <nav>
     <ul>
      <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Accueil</a></li>
      <li><a href="/medecins.html" class="{% if page.url == '/medecins.html' %}active{% endif %}">Médecins</a></li>
      <li><a href="/infirmiers.html" class="{% if page.url == '/infirmiers.html' %}active{% endif %}">Infirmiers</a></li>
      <li><a href="/aides-soignants.html" class="{% if page.url == '/aides-soignants.html' %}active{% endif %}">Aides-soignants</a></li>
      <li><a href="/secretaires.html" class="{% if page.url == '/secretaires.html' %}active{% endif %}">Secrétaires</a></li>
      <li><a href="/brancardiers.html" class="{% if page.url == '/brancardiers.html' %}active{% endif %}">Brancardiers</a></li>
      <li><a href="/cadres.html" class="{% if page.url == '/cadres.html' %}active{% endif %}">Cadres</a></li>
     </ul>

    </nav>
  </header>
  <footer>
    <p>Contact: mickaelangue@gmail.com</p>
  </footer>

  <!-- CONTENU DE LA PAGE -->
  <main class="content">
    {{ content }}
  </main>
<script>
  const input = document.getElementById('searchInput');
  const cards = document.querySelectorAll('.profil-card');

  input.addEventListener('input', function () {
    const search = input.value.toLowerCase();

    cards.forEach(card => {
      const name = card.querySelector('.profil-name').textContent.toLowerCase();
      const poste = card.querySelector('.profil-poste').textContent.toLowerCase();
      card.style.display = (name.includes(search) || poste.includes(search)) ? 'block' : 'none';
    });
  });
</script>

<script src="{{ '/assets/js/trombinoscope.js' | relative_url }}"></script>
  
</body>
</html>
